<mat-sidenav-container fxFlexFill>
    <!-- <mat-sidenav #sidenav style="width: 200px;">
        <mat-nav-list>
            <a (click)="sidenav.toggle()" href="" mat-list-item>
                <mat-icon>close</mat-icon>
            </a>
            <a mat-list-item>Why Noteme</a>
            <a mat-list-item>Products</a>
            <a mat-list-item>Plans & Pricing</a>
            <a mat-list-item>Resources</a>
            <a mat-list-item>Support</a>
            <a mat-list-item routerLink="login">Login</a>
            <a mat-list-item routerLink="register">Register</a>
        </mat-nav-list>
    </mat-sidenav> -->
    <mat-sidenav-content fxFlexFill>
        
        <div class="content">
            <div class="content-title">
                <h1>See your financial life all in one place</h1>
            </div>
            <div class="content-sub-title">
                <h3>This budget maker will walk you through the key budgeting categories you’ll need step by step. See
                    where your money is
                    going and create a plan to pay down debt, grow your savings, and meet your long-term financial
                    goals.</h3>
            </div>
            <div class="signup">
                <button mat-raised-button color="#23a82c" routerLink="../register">Sign up for free</button>
            </div>
            <div class="login">
                <a routerLink="../login">Already have an account? Log in</a>
            </div>
            <div class="bene">
                <div>
                    <img
                        src="https://evernote.com/c/assets/homepage-repackaging/task_hero_image@2x__en.png?b92f90d51cebbc17">
                </div>
                <div class="bene-title">
                    <div>
                        <h2>WORK ANYWHERE</h2>
                        <p>Keep important info handy—your notes sync automatically to all your devices.</p>
                    </div>
                    <div>
                        <h2>REMEMBER EVERYTHING</h2>
                        <p>Make notes more useful by adding text, images, audio, scans, PDFs, and documents.</p>
                    </div>
                    <div>
                        <h2>TURN TO-DO INTO DONE</h2>
                        <p>Bring your notes, tasks, and schedules together to get things done more easily.</p>
                    </div>
                    <div>
                        <h2>FIND THINGS FAST</h2>
                        <p>Get what you need, when you need it with powerful, flexible search capabilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>