<h1 style="text-align: center;">{{isNewItem ? 'Add Transaction' : 'Edit Transaction'}}</h1>
<mat-card class="card">
  <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)" [formGroup]="myGroup">
    <div class="transaction">
      <div class="full-width">
        <button mat-button type="button" 
        (click)="changeTransaction('income')" 
        [ngClass]="{'positive' : transaction=='income'}"
         >Income</button>|
        <button mat-button type="button" (click)="changeTransaction('expense')"
        [ngClass]="{'negative' : transaction=='expense'}"
        >Expense</button>
      </div>
    </div>
    <mat-form-field class="full-width" appearance="outline">
      <input matInput [matDatepicker]="picker" id="added_date" name="added_date"required formControlName="added_date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <input matInput type="number" required id="amount" name="amount" placeholder="Amount" formControlName="amount">
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="outline">
      <input 
          matInput
          type="text" 
          required 
          id="description"
          name="description" 
          placeholder="Description"
          formControlName="description"
         >
    </mat-form-field>
    <div >
      <button mat-raised-button color="primary" type="submit"
        [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" [disabled]="!itemForm.valid">
        {{isNewItem?'Add':'Save'}}
      </button>
    </div>
  
  </form>
</mat-card>
